<app-header></app-header>
<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col text-center border-right ">
            <div>
                <h1 class="border border-primary bg-primary text-white">Platos</h1>
            </div>

            <div class="text-left">
                <app-plato></app-plato>

            </div>


        </div>
        <div class="col text-center">
            <div>
                <h1 class="border border-success bg-success text-white">Clientes</h1>
            </div>

            <div class="text-left">
                <app-cliente>
                </app-cliente>


            </div>


        </div>
    </div>

</div>
<app-footer></app-footer>