<table class="table bg-dark text-white">

    <tbody>
        <tr>

            <td class="align-middle">
                <img src="../../../assets/img/asador.png" height="80px" width="60px" alt="">
            </td>
            <td class="align-middle">
                <p>
                    Universidad Nacional de Cajamarca <br> Facultad de Ingeniería <br> Escuela de Ingeniería de Sistemas
                </p>
            </td>
            <td class="text-right">


                <small>Lener Crisólogo Narro <br>
Telefono:976411784 <br>
Email: lcn@unc.edu.pe
<br> &copy; Copyright-2020 
                </small>
            </td>
        </tr>

    </tbody>
</table>